.slogan {
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #252527;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}