.contacts {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #1f1f20;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  justify-content: space-around;
}
@media screen and (max-width: 517px) {
  .inputs {
    width: 100%;
  }
}
