.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #1f1f20;
    z-index: 1;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greeting {
    display: flex;
    height: 150px;
    justify-content: space-around;
    flex-direction: column;
}

.greeting span:nth-child(1) {
    font-size: 16px;
    font-family: 'Alegreya Sans', sans-serif;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 5px;
    position: relative;
    z-index: 0;
}

.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 378px;
    height: 20px;
    background-color: #fbbe18;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
}

.greeting h1 {
    font-size: 21px;
}

.photo {
    margin-top: 50px;
    position: relative;
    z-index: 0;
}

.image {
    background-image: url("https://petsua.net/imgs/board/1/33911-1.jpg");
    width: 300px;
    height: 400px;
}
.photo .image:before {
    content: "";
    width: 300px;
    height: 430px;
    position: absolute;
    left: 15px;
    top: -15px;
    border: 5px solid #fbbe18;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .photo {
        margin-top: 0;
        width: 300px;
    }
}

@media screen and (max-width: 942px) {
    .greeting span:nth-child(2) span:before {
        content: "";
        position: absolute;
        width: 150px;
        height: 20px;
        background-color: #fbbe18;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.7;
    }
}
@media screen and (max-width: 600px) {
    .greeting span:nth-child(2) span:before {
        content: "";
        position: absolute;
        width: 378px;
        height: 20px;
        background-color: #fbbe18;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.7;
    }
}
@media screen and (max-width: 456px) {
    .greeting span:nth-child(2) span:before {
        content: "";
        position: absolute;
        width: 150px;
        height: 20px;
        background-color: #fbbe18;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.7;
    }
}