.footer {
  display: flex;
  height: 200px;
  background-color: #252527;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.social {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.icons {
  width: 60px;
  height: 60px;
  background-color: pink;
}
@media screen and (max-width: 517px) {
  .social {
    width: 100%;
  }
}
@media screen and (max-width: 385px) {
  .icons {
    width: 40px;
    height: 40px;
  }
}