.projects {
  display: flex;
  height: 100vh;
  background-color: #1f1f20;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
justify-content: space-around;
}
.blocks {
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1150px) {
  .blocks {
    flex-direction: column;
    align-items: center;
  }
}