.projects {
  display: flex;
  height: 100vh;
  background-color: mediumpurple;
  justify-content: center;
}
.container {
  border: 1px solid;
  width: 80%;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
.blocks {
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: center;
}