.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 400px;
    width: 600px;
}

.logo {
    width: 70px;
    height: 70px;
    background-color: grey;
}

.description {
    text-align: center;
}
@media screen and (max-width: 1150px) {
    .project {
        height: 200px;
        width: 65%;
    }
}